<!DOCTYPE html>
<html>
<head>
  <title>SHPVIBE - About</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div class="header">
    <div class="title">SHPVIBE</div>
    <div class="options">
      <a href="index.html">Home</a>
      <a href="about.html">About</a>
      <a href="model.html">Model</a>
      <a href="login.html">Login</a>
      <a href="register.html">Register</a>
    </div>
  </div>
  <div class="content">
    <h1>About</h1>
    <div class="about-info">
      <p>Car parking poses a significant challenge for drivers in bustling urban areas. Picture this scenario: you're driving to a popular shopping mall during peak hours. As you approach your destination, you notice the parking lot is jam-packed, with cars circling tirelessly in search of an elusive empty spot.

You join the queue of frustrated drivers, hoping for a stroke of luck that will lead you to an available space. However, as time ticks by, you become acutely aware of the overcrowded situation. Finding a parking spot is becoming increasingly arduous, and a sense of anxiety creeps in. The fear of running late for an appointment or missing out on an exciting shopping experience hangs heavy in the air.

Enter AI-enabled car parking using OpenCV, a cutting-edge computer vision-based project revolutionizing the parking landscape. Its goal is to automate the parking process, transforming it into a hassle-free experience. This innovative project focuses on developing an intelligent system that can swiftly detect and identify vacant parking spaces, providing you with real-time information on the number of available spots. To achieve this, the system relies on a camera and leverages the power of OpenCV (Open Source Computer Vision) library to capture live video footage of the bustling parking lot.

By harnessing the capabilities of AI and computer vision, this project aims to alleviate the stress and uncertainty associated with parking in congested areas. It empowers drivers with the knowledge of available parking spots, streamlining the entire process. Say goodbye to aimlessly circling and hello to efficient parking management, thanks to AI-enabled car parking using OpenCV.
</p>
      <img src="download.jpg" alt="Project Image">
    </div>
  </div>
</body>
</html>
