<!DOCTYPE html>
<html>
<head>
  <title>SHPVIBE - Revolutionizing Parking</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div class="header">
    <div class="title">SHPVIBE</div>
    <div class="options">
      <a href="index.html">Home</a>
      <a href="about.html">About</a>
      <a href="model.html">Model</a>
      <a href="login.html">Login</a>
      <a href="register.html">Register</a>
    </div>
  </div>
  <div class="content">
    <h1>Revolutionizing Parking</h1>
    <h3>AI enabled car parking using OpenCV</h3>
    <a href="login.html" class="button">Get Started</a>
  </div>
</body>
</html>
